{% extends 'base.html.twig' %}

{% block title %}Un blog qui parle de Cinéma, Anime, Musique, Dessin, Voyage, BD, Manga et Jeux Vidéos - Lis moi ça !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>A toi qui vient d'arriver volontairement ou par hasard sur Lis moi ça ! ...</h1>

    <p>
    A l'origine, j'ai créé ce blog pour apprendre le framework Symfony 4 (pas facile pour la mamie que je suis, n'ayant pas touché à du PHP depuis l'ère Edo) et par la même occassion refaire mon ancien blogspot (<a href="http://lismoica.blogspot.com" target="_blank">lismoica.blogspot.com</a> pour les curieux).
    </p>

    <p>
    Parce qu'écrire me manque, parce que j'ai envie de partager le peu de chose que je sais, parce que j'ai envie de rire et faire rire, parce que j'espère profondément que votre journée sera meilleure après m'avoir lu : je fais renaître mon site de ses cendres et vous souhaite la bienvenue.
    </p>

    <p>
    De quoi va-t-on parler ici ?
    <ul>
        <li><b>Code</b>: eh oui, c'est là que tout a commencé... j'y conterais mon épopée : celui de la mamie qui ré-apprend à coder !</li>
        <li><b>Cinéma</b>: mes coups de coeur, les récents comme ceux qui ont perduré dans le temps - <small>Le Septième Voyage de Sinbad, A Bittersweet Life, Joker, L'été de Kikujiro...  </small> </li>
        <li><b>Anime</b>: les animes qui ont bercé mon enfance et ceux qui m'ont bluffés - <small>Neon Genesis Evangelion, Shingeki no Kyojin, Kimi no na wa, Kimetsu no Yaiba, Le voyage de Chihiro...</small></li>
        <li><b>Musique</b>: du rock, de la pop, du classique... assez orientés Asie (parce que j'adore ça et que ça peut être une jolie découverte pour vous) - <small>Joe Hisaishi, Man with a Mission, Taichi Mukai, BTS...</small> </li>
        <li><b>Dessin</b>: mes derniers dessins <small>(au crayon à papier mais bientôt sur tablette ?)</small></li>
        <li><b>Voyage</b>: mes voyages solo en détails (logement, nourriture, activités en images et en prix) - <small>le Japon (le Kansai) pour l'instant</small></li>
        <li><b>BD</b>: une section que je m'attacherai à enrichir étant donné que je suis plutôt nouvelle dans le genre - <small>Lastman (je vous avais prévenue, je suis newbie dans le genre) </small></li>
        <li><b>Manga</b>: probablement la section où mon inspiration sera éternelle - <small>Berserk, Gantz, Shingeki no Kyojin, Solanin, 20th Century Boys, Barakamon...</small></li>
        <li><b>Jeux Vidéos</b>: certainement des jeux Square Enix - <small>FFXV, FFVII (si le Remake sort un jour), KH3 (et peut être ceux avant si je chope les versions 1.5 et 2.5)</small></li>
    </ul>
    </p>

    <p>
    Je vous souhaite une excellente lecture et à un de ces 4 qui sait :)
    </p>

    Myouri
</div>
{% endblock %}
