{% extends 'base.html.twig' %}

{% block title %}Un blog qui parle de Cinéma, Anime, Code, Voyage, Musique, Manga, BD et Jeux Vidéos - Lis moi ça !{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<h1>Bienvenue sur Lis moi ça !</h1>
{% endblock %}
